@using Blowing.MoveHouse.Model;
@using Blowing.MoveHouse.Model.MoveHouse;


@model List<MvhInfoModel>

<div class="hero-unit">
    <h1>发布搬家信息</h1>
    <br/>
     <p><a href="#" class="btn btn-primary btn-large">点击发布&raquo;</a></p>
</div>

<div>
<div class="row-fluid">

    @foreach (MvhInfoModel mvhModel in Model)
    {
        <div class="span3">
            <input type="hidden" id="msgID" name="name" value="@mvhModel.F_Bj_ID " />
            <h3>@mvhModel.F_Bj_Site</h3>
            <p>@mvhModel.F_BjDecription</p>
            <p><a class="selectDetailBtn" href="#">查看详情</a><a class="Bidbtn" href="javascript:void(0)" >竞标</a>(已有 人投标)</p>
 
            @*<td>@mvhModel.F_Bj_UID</td>
            <td>@mvhModel.F_IsDisplaySex</td>
            <td>@mvhModel.F_IsNeedHelpBj</td>
            <td>@mvhModel.F_BjCostStart</td>
            <td>@mvhModel.F_BjCostEnd</td>
            <td></td>*@
        </div><!--/row-->
    }
</div>    

<div class="pagecompus tc pt20 pb20">
    @Html.Partial("page", (ViewDataDictionary)ViewBag.dataDictionary)
</div>

</div>



@*<div id="MvhInfoListBody">
        <div class="main2 borH bgW">
             <div class="min_400">
                <table class="pct100 credittable" cellpadding="0" cellspacing="0">
                    <tr class="bghover lh50">
                        <th width="35%">发布人</th>
                        <th>性别</th>
                        <th width="21%">需要搬家</th>
                        <th width="21%">最低支付</th>
                        <th width="21%">最高支付</th>
                        <th width="15%">描述</th>
                    </tr>
                    @foreach (MvhInfoModel mvhModel in Model)
                    {
                        <tr>
                            <td>@mvhModel.F_Bj_UID</td>
                            <td>@mvhModel.F_IsDisplaySex</td>
                            <td>@mvhModel.F_IsNeedHelpBj</td>
                            <td>@mvhModel.F_BjCostStart</td>
                            <td>@mvhModel.F_BjCostEnd</td>
                            <td>@mvhModel.F_BjDecription</td>
                        </tr>
                    }
                </table>
            </div>


        </div>
    </div>*@
