@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Blowing.MoveHouse.Model.MoveHouse;

@model  MvhInfoModel

<br/>
<br/>
<br/>
<div id="mvhDetailDiv">
    <table>
        <tr>
            <td><label>发布人姓名:</label></td>
            <td><label>@Model.F_Name</label></td>
        </tr>
        <tr>
            <td><label>联系电话:</label></td>
            <td><label>@Model.F_Mobile</label></td>
        </tr>
        <tr>
            <td><label>地点:</label></td>
            <td><label>@Model.F_Bj_Site</label></td>
        </tr>
        <tr>
            <td><label>最低预算:</label></td>
            <td><label>@Model.F_BjCostStart 起</label></td>
        </tr>
        <tr>
            <td><label>描述:</label></td>
            <td><label>@Model.F_BjDecription</label></td>
        </tr>
    </table>
    <input type="button" name="name" value="联系他 " />
    <input type="button"   name="name" value="竞标 " />

</div>


